/* For the TEACHING page */
.teaching-page h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.teaching-page h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}
.teaching-page h4 {
    margin-top: 5px;
    margin-bottom: 20px;
}
